<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--<uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />-->




    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.SMS_DELIVERED"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Если нужна ещё и приблизительная геолокация -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <!--<uses-permission android:name="android.permission.SEND_SMS"
         tools:node="merge"/>-->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScreenClock"
        tools:targetApi="31">
        <service android:name=".SmsJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".RingtonePlayingService"
            android:foregroundServiceType="dataSync"
            tools:ignore="ForegroundServicePermission" />


        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity android:name=".ReviewTodayActivity"
            android:theme="@style/AppTheme.Dialog"
            android:exported="false"
            android:width="150dip"
            android:height="50dip">
        </activity>

        <receiver
            android:name=".MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>

        </receiver>
        <receiver
            android:name=".BroadcastReceiver0"
            android:enabled="true"
            android:exported="true"
            android:priority="100"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>

        </receiver>

        <receiver android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>